<div class="pure-menu pure-menu-horizontal">
  {{link-to 'Filter examples' 'application' class="pure-menu-heading pure-menu-link"}}
  <ul class="pure-menu-list">
    <li class="pure-menu-item">
      {{link-to 'Filter array' 'filtered-array' class="pure-menu-link"}}
    </li>
    <li class="pure-menu-item">
      {{link-to 'Long list' 'long-list' class="pure-menu-link"}}
    </li>
    <li class="pure-menu-item">
      {{link-to 'Hidden Elements' 'hidden-elements' class="pure-menu-link"}}
    </li>
  </ul>
</div>

{{outlet}}
