<form class="pure-form">
  <label for="search-input">
    {{input elementId='search-input' value=search.searchString }} Search the collection of {{albums.length}} albums
  </label>
</form>

<div class="pure-g">
  {{#each albums as |album|}}
    <div class="pure-u-1-2 pure-u-sm-1-3 pure-u-md-1-4 pure-u-lg-1-6 l-box {{if album.isVisible "visible" "hidden"}} ">
      {{#link-to 'long-list.album' album.slug}}
        <div class="album-art-wrapper">
          <img class="album-art pure-img" src={{album.album_art}}>
        </div>
        <div class="one-line">{{album.title}}</div>
        <div class="one-line">{{album.main_artist}}</div>
      {{/link-to}}
    </div>
  {{/each}}

{{!--   {{#each albums as |album|}}
    <div class="pure-u-1-2 pure-u-sm-1-3 pure-u-md-1-4 pure-u-lg-1-6 l-box" hidden={{album.isHidden}}>
      {{#link-to 'long-list.album' album.slug}}
        <div class="album-art-wrapper">
          <img class="album-art pure-img" src={{album.album_art}}>
        </div>
        <div class="one-line">{{album.title}}</div>
        <div class="one-line">{{album.main_artist}}</div>
      {{/link-to}}
    </div>
  {{/each}} --}}

</div>